name: Deployment

on:
  push:
    branches:
      - main

jobs:
  deployment:
    runs-on: ubuntu-latest
    environment: 
      name: testing
      url: https://github.com
    steps:
      - name: deploy
      - run:
          echo "Testing"
        # ...deployment-specific steps
